	.asul .container {
	    
	}
	.asul .site-header {
	    background-color: #fff;
	}
	.asul .blue1Line {
	    min-height: 19px;
	    height: 19px;
	    width: 100%;
	    background: #2D73A1;
	    position: absolute;
	    z-index: 100;
	    border: none;
	}
	.asul .blue2Line {
	    min-height: 19px;
	    height: 19px;
	    width: 100%;
	    background: #3893CF;
	    position: absolute;
	    z-index: 100;
	    border: none;
	    top: 19px;
	}
	.asul .blue2fLine {
	    min-height: 19px;
	    height: 19px;
	    width: 100%;
	    background: #3893CF;
	    position: absolute;
	    z-index: 100;
	    border: none;
	}
	.asul .site-branding {
	    z-index: 999;
	}
	.asul .site-branding a:hover, .asul .site-branding a:focus {
	    opacity: 1;
	}
	.asul .custom-logo-link img {
	    max-height: 150px;
	}
	.asul .site-branding.subBranding {
	    float: none;
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    top: -130px;
	}
	.asul .site-branding.subBranding .custom-logo-link img{
	    max-width:320px;
	}
	.asul. .subBranding .custom-logo.img-responsive {
	    max-height: 200px;
	}
	.asul footer#colophon {
	    background: #2D73A1;
	    width: 100%;
	    bottom: 0;
 		}
	.asul article {
	   margin-top: 0px;
	}
	.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a {
	    border-color: #3893CF!important;
	    background-color: #3893CF!important;
	    color: #fff!important;
	}
	.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab.vc_active > a {
	    border-color: #205577!important;
	    background-color: #205577!important;
	    color: #fff!important;
	}
	.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a:focus, 
	.wpb-js-composer .vc_tta-color-blue.vc_tta-style-classic .vc_tta-tab > a:hover {
	    background-color: #205577!important;
	}
	.wpb-js-composer .vc_tta.vc_tta-spacing-35 .vc_tta-tab {
	    margin: 0px 44px!important;
	    width: 135px!important;
	}
	.wpb-js-composer .vc_tta.vc_general .vc_tta-tab > a {
	    padding: 0px!important;
	}
	.wpb-js-composer .vc_tta-container {
	    margin-bottom: 0px!important;
	}
	.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
	    margin-bottom: 0px!important;
	}
	.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-body {
	    padding: 0px!important;
	}